In [2]:
#importing data management, data visualisation libraries.
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns


from sklearn.preprocessing import OneHotEncoder

In [3]:
data=pd.read_csv("Ready_to_encode_KLdata.csv")

In [4]:
data.columns

Index(['Unnamed: 0', 'Price', 'Bathrooms', 'Car Parks', 'Property Type',
       'Size', 'Furnishing', 'area', 'No_of_Bedrooms', 'No_of_servant_rooms',
       'type', 'size', 'studio_apartment'],
      dtype='object')

In [5]:
data.drop(columns=['Size','Unnamed: 0'] ,inplace=True)

In [9]:
# Assuming 'data' is your pandas DataFrame
grouped_data = data.groupby(['area', 'Property Type'])
grouped_data

In [12]:
aggregated_data = grouped_data.agg({
    'Price': 'mean',  # Replace 'Column1' with the column you want to aggregate
    'size': 'mean'  # Replace 'Column2' with another column if needed
})
aggregated_data

                                                               Price  \
area           Property Type
Ampang         1-sty Terrace/Link House                 7.000000e+05
               1-sty Terrace/Link House (Intermediate)  4.550000e+05
               2-sty Terrace/Link House                 1.170500e+06
               2-sty Terrace/Link House (Corner)        1.406667e+06
               2-sty Terrace/Link House (EndLot)        1.019500e+06
...                                                              ...
Wangsa Maju    Serviced Residence (Corner)              4.564000e+05
               Serviced Residence (EndLot)              4.500000e+05
               Serviced Residence (Intermediate)        4.575062e+05
               Townhouse (Intermediate)                 4.975000e+05
duta Nusantara Semi-detached House (Intermediate)       4.450000e+06

                                                               size
area           Property Type
Ampang         1-sty Terrace/Link House                 2983.000000
               1-sty Terrace/Link House (Intermediate)  2335.000000
               2-sty Terrace/Link House                 2331.666667
               2-sty Terrace/Link House (Corner)        3163.333333
               2-sty Terrace/Link House (EndLot)        1562.500000
...                                                             ...
Wangsa Maju    Serviced Residence (Corner)               831.120000
               Serviced Residence (EndLot)               830.000000
               Serviced Residence (Intermediate)         789.230769
               Townhouse (Intermediate)                 1250.000000
duta Nusantara Semi-detached House (Intermediate)       4000.000000

[1238 rows x 2 columns]

In [19]:
data

,Price,Bathrooms,Car Parks,Property Type,Furnishing,area,No_of_Bedrooms,No_of_servant_rooms,type,size,studio_apartment
0,1250000,3,2,Serviced Residence,Fully Furnished,KLCC,2,1,Built-up,1335,0
1,1030000,4,2,Condominium (Corner),Partly Furnished,Dutamas,3,0,Built-up,1875,0
2,900000,3,2,Condominium (Corner),Partly Furnished,Bukit Jalil,4,1,Built-up,1513,0
3,5350000,5,4,Bungalow,Partly Furnished,Taman Tun Dr Ismail,4,2,Land area,7200,0
4,2600000,4,4,Semi-detached House,Partly Furnished,Taman Tun Dr Ismail,5,0,Land area,3600,0
...,...,...,...,...,...,...,...,...,...,...,...
26486,750000,2,1,Condominium,Partly Furnished,Seputeh,3,0,Built-up,915,0
26487,1400000,3,2,Condominium (Corner),Fully Furnished,KL Sentral,3,1,Land area,1544,0
26488,880000,1,1,Condominium (Corner),Partly Furnished,KL Eco City,1,0,Built-up,650,0
26489,2700000,6,3,Condominium (Corner),Partly Furnished,Sri Hartamas,4,2,Built-up,3973,0
26490,540000,2,3,Condominium (Intermediate),Partly Furnished,Setapak,4,0,Built-up,1313,0

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26491 entries, 0 to 26490
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Price                26491 non-null  int64
 1   Bathrooms            26491 non-null  int64
 2   Car Parks            26491 non-null  int64
 3   Property Type        26491 non-null  object
 4   Furnishing           26491 non-null  object
 5   area                 26491 non-null  object
 6   No_of_Bedrooms       26491 non-null  int64
 7   No_of_servant_rooms  26491 non-null  int64
 8   type                 26491 non-null  object
 9   size                 26491 non-null  int64
 10  studio_apartment     26491 non-null  int64
dtypes: int64(7), object(4)
memory usage: 2.2+ MB

In [16]:
data.corr()

C:\Users\prabh\AppData\Local\Temp\ipykernel_7748\2627137660.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  data.corr()

,Price,Bathrooms,Car Parks,No_of_Bedrooms,No_of_servant_rooms,size,studio_apartment
Price,1.000000,0.662933,0.610430,0.513643,0.316487,0.193956,-0.046732
Bathrooms,0.662933,1.000000,0.662788,0.771917,0.473500,0.155801,-0.130487
Car Parks,0.610430,0.662788,1.000000,0.624638,0.303833,0.163249,-0.077362
No_of_Bedrooms,0.513643,0.771917,0.624638,1.000000,0.171307,0.143805,-0.269449
No_of_servant_rooms,0.316487,0.473500,0.303833,0.171307,1.000000,0.062615,-0.087056
size,0.193956,0.155801,0.163249,0.143805,0.062615,1.000000,-0.008558
studio_apartment,-0.046732,-0.130487,-0.077362,-0.269449,-0.087056,-0.008558,1.000000

In [23]:
# Selecting columns to encode
columns_to_encode = ['Property Type', 'Furnishing', 'area', 'type']

# Applying one-hot encoding
encoder = OneHotEncoder(sparse=False)
encoded_data = encoder.fit_transform(data[columns_to_encode])
encoded_feature_names = encoder.get_feature_names_out(columns_to_encode)

# Creating a dataframe with the encoded data
encoded_df = pd.DataFrame(encoded_data, columns=encoded_feature_names)

# Dropping original columns to encode from the dataset
data_encoded = data.drop(columns=columns_to_encode)

# Concatenating the original data with the encoded data
data_prepared = pd.concat([data_encoded, encoded_df], axis=1)

# Display the first few rows of the prepared data to ensure encoding was applied correctly
data_prepared.head()

,Price,Bathrooms,Car Parks,No_of_Bedrooms,No_of_servant_rooms,size,studio_apartment,Property Type_1-sty Terrace/Link House,Property Type_1-sty Terrace/Link House (Corner),Property Type_1-sty Terrace/Link House (EndLot),...,area_Taman Ibukota,area_Taman Melawati,area_Taman TAR,area_Taman Tun Dr Ismail,area_Taman Yarl,area_Titiwangsa,area_Wangsa Maju,area_duta Nusantara,type_Built-up,type_Land area
0,1250000,3,2,2,1,1335,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1030000,4,2,3,0,1875,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,900000,3,2,4,1,1513,0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,5350000,5,4,4,2,7200,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0
4,2600000,4,4,5,0,3600,0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0

In [26]:
data_prepared.dtypes

Price                    int64
Bathrooms                int64
Car Parks                int64
No_of_Bedrooms           int64
No_of_servant_rooms      int64
                        ...
area_Titiwangsa        float64
area_Wangsa Maju       float64
area_duta Nusantara    float64
type_Built-up          float64
type_Land area         float64
Length: 175, dtype: object

In [29]:
data_prepared.to_csv('Encoded_data.csv')

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

# Separating the target variable (Price) from the features
X = data_prepared.drop('Price', axis=1)
y = data_prepared['Price']

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Initializing and training the Linear Regression model
lr_model = LinearRegression()
lr_model.fit(X_train, y_train)

# Predicting on the test set
y_pred = lr_model.predict(X_test)

# Evaluating the model's performance
mse = mean_squared_error(y_test, y_pred)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred)

mse, rmse, r2

(2204685768779.916, 1484818.4295663615, 0.6136332313824842)

In [38]:
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.metrics import mean_squared_error

# Linear Regression
linear_model = LinearRegression()
linear_model.fit(X_train, y_train)
linear_pred = linear_model.predict(X_test)
linear_mse = mean_squared_error(y_test, linear_pred)
print("Linear Regression MSE:", linear_mse)

# Lasso Regression
lasso_model = Lasso(alpha=0.1)  # Adjust alpha as needed
lasso_model.fit(X_train, y_train)
lasso_pred = lasso_model.predict(X_test)
lasso_mse = mean_squared_error(y_test, lasso_pred)
print("Lasso Regression MSE:", lasso_mse)

# Ridge Regression
ridge_model = Ridge(alpha=1.0)  # Adjust alpha as needed
ridge_model.fit(X_train, y_train)
ridge_pred = ridge_model.predict(X_test)
ridge_mse = mean_squared_error(y_test, ridge_pred)
print("Ridge Regression MSE:", ridge_mse)

# Elastic Net Regression
elastic_net_model = ElasticNet(alpha=0.1, l1_ratio=0.5)  # Adjust alpha and l1_ratio as needed
elastic_net_model.fit(X_train, y_train)
elastic_net_pred = elastic_net_model.predict(X_test)
elastic_net_mse = mean_squared_error(y_test, elastic_net_pred)
print("Elastic Net Regression MSE:", elastic_net_mse)

Linear Regression MSE: 2204685768779.916

c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.261e+15, tolerance: 1.047e+13
  model = cd_fast.enet_coordinate_descent(

Lasso Regression MSE: 2205436746073.735
Ridge Regression MSE: 2145858426428.4202
Elastic Net Regression MSE: 2489793581940.416

In [39]:
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

# Calculate metrics for Linear Regression
linear_mse = mean_squared_error(y_test, linear_pred)
linear_rmse = mean_squared_error(y_test, linear_pred, squared=False)  # RMSE
linear_mae = mean_absolute_error(y_test, linear_pred)  # MAE
linear_r2 = r2_score(y_test, linear_pred)  # R-squared

print("Linear Regression:")
print("MSE:", linear_mse)
print("RMSE:", linear_rmse)
print("MAE:", linear_mae)
print("R-squared:", linear_r2)
print()

# Calculate metrics for Lasso Regression
lasso_mse = mean_squared_error(y_test, lasso_pred)
lasso_rmse = mean_squared_error(y_test, lasso_pred, squared=False)  # RMSE
lasso_mae = mean_absolute_error(y_test, lasso_pred)  # MAE
lasso_r2 = r2_score(y_test, lasso_pred)  # R-squared

print("Lasso Regression:")
print("MSE:", lasso_mse)
print("RMSE:", lasso_rmse)
print("MAE:", lasso_mae)
print("R-squared:", lasso_r2)
print()

# Calculate metrics for Ridge Regression
ridge_mse = mean_squared_error(y_test, ridge_pred)
ridge_rmse = mean_squared_error(y_test, ridge_pred, squared=False)  # RMSE
ridge_mae = mean_absolute_error(y_test, ridge_pred)  # MAE
ridge_r2 = r2_score(y_test, ridge_pred)  # R-squared

print("Ridge Regression:")
print("MSE:", ridge_mse)
print("RMSE:", ridge_rmse)
print("MAE:", ridge_mae)
print("R-squared:", ridge_r2)
print()

# Calculate metrics for Elastic Net Regression
elastic_net_mse = mean_squared_error(y_test, elastic_net_pred)
elastic_net_rmse = mean_squared_error(y_test, elastic_net_pred, squared=False)  # RMSE
elastic_net_mae = mean_absolute_error(y_test, elastic_net_pred)  # MAE
elastic_net_r2 = r2_score(y_test, elastic_net_pred)  # R-squared

print("Elastic Net Regression:")
print("MSE:", elastic_net_mse)

Linear Regression:
MSE: 2204685768779.916
RMSE: 1484818.4295663615
MAE: 632213.3583913469
R-squared: 0.6136332313824842

Lasso Regression:
MSE: 2205436746073.735
RMSE: 1485071.2932629648
MAE: 632349.4811861824
R-squared: 0.6135016241147153

Ridge Regression:
MSE: 2145858426428.4202
RMSE: 1464874.8842233662
MAE: 630824.5613337794
R-squared: 0.6239426053951274

Elastic Net Regression:
MSE: 2489793581940.416

In [40]:
from sklearn.linear_model import RidgeCV
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import GridSearchCV

# Ridge Regression with Cross-Validation
ridge_cv = RidgeCV(alphas=[0.1, 1.0, 10.0, 100.0], cv=5)
ridge_cv.fit(X_train, y_train)
ridge_pred = ridge_cv.predict(X_test)
ridge_rmse = mean_squared_error(y_test, ridge_pred, squared=False)
ridge_r2 = r2_score(y_test, ridge_pred)

# Gradient Boosting Regressor with default parameters as a starting point
gbr = GradientBoostingRegressor(random_state=42)
gbr.fit(X_train, y_train)
gbr_pred = gbr.predict(X_test)
gbr_rmse = mean_squared_error(y_test, gbr_pred, squared=False)
gbr_r2 = r2_score(y_test, gbr_pred)

ridge_rmse, ridge_r2, gbr_rmse, gbr_r2

(1448533.6929877487,
 0.6322859114289585,
 1105537.5304571064,
 0.7858095773074023)

In [32]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import cross_val_score
import numpy as np
from sklearn.ensemble import GradientBoostingRegressor

In [41]:
from sklearn.pipeline import Pipeline
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression, Lasso, Ridge, ElasticNet
from sklearn.metrics import mean_squared_error

# Define X and y (assuming they are defined previously)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Pipeline for Linear Regression
linear_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('linear', LinearRegression())
])

# Pipeline for Lasso Regression
lasso_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('lasso', Lasso())
])

# Pipeline for Ridge Regression
ridge_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('ridge', Ridge())
])

# Pipeline for Elastic Net Regression
elastic_net_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('elastic_net', ElasticNet())
])

# Define hyperparameters grid for each model
linear_params = {}
lasso_params = {'lasso__alpha': [0.01, 0.1, 1.0, 10.0]}
ridge_params = {'ridge__alpha': [0.01, 0.1, 1.0, 10.0]}
elastic_net_params = {'elastic_net__alpha': [0.01, 0.1, 1.0, 10.0],
                     'elastic_net__l1_ratio': [0.1, 0.3, 0.5, 0.7, 0.9]}

# GridSearchCV with cross-validation
linear_grid = GridSearchCV(linear_pipeline, param_grid=linear_params, cv=5, scoring='neg_mean_squared_error')
lasso_grid = GridSearchCV(lasso_pipeline, param_grid=lasso_params, cv=5, scoring='neg_mean_squared_error')
ridge_grid = GridSearchCV(ridge_pipeline, param_grid=ridge_params, cv=5, scoring='neg_mean_squared_error')
elastic_net_grid = GridSearchCV(elastic_net_pipeline, param_grid=elastic_net_params, cv=5, scoring='neg_mean_squared_error')

# Fit the models
linear_grid.fit(X_train, y_train)
lasso_grid.fit(X_train, y_train)
ridge_grid.fit(X_train, y_train)
elastic_net_grid.fit(X_train, y_train)

# Best parameters for each model
print("Best parameters for Linear Regression:", linear_grid.best_params_)
print("Best parameters for Lasso Regression:", lasso_grid.best_params_)
print("Best parameters for Ridge Regression:", ridge_grid.best_params_)
print("Best parameters for Elastic Net Regression:", elastic_net_grid.best_params_)

# Predictions and evaluation
linear_pred = linear_grid.predict(X_test)
lasso_pred = lasso_grid.predict(X_test)
ridge_pred = ridge_grid.predict(X_test)
elastic_net_pred = elastic_net_grid.predict(X_test)

linear_mse = mean_squared_error(y_test, linear_pred)
lasso_mse = mean_squared_error(y_test, lasso_pred)
ridge_mse = mean_squared_error(y_test, ridge_pred)
elastic_net_mse = mean_squared_error(y_test, elastic_net_pred)

print("Linear Regression MSE:", linear_mse)
print("Lasso Regression MSE:", lasso_mse)
print("Ridge Regression MSE:", ridge_mse)
print("Elastic Net Regression MSE:", elastic_net_mse)

c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.323e+14, tolerance: 8.521e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.897e+14, tolerance: 8.329e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.438e+14, tolerance: 8.446e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.006e+15, tolerance: 7.886e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.315e+15, tolerance: 8.698e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.323e+14, tolerance: 8.521e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.897e+14, tolerance: 8.329e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.438e+14, tolerance: 8.446e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.006e+15, tolerance: 7.886e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.315e+15, tolerance: 8.698e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.323e+14, tolerance: 8.521e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.897e+14, tolerance: 8.329e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.438e+14, tolerance: 8.446e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.006e+15, tolerance: 7.886e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.315e+15, tolerance: 8.698e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.326e+14, tolerance: 8.521e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.900e+14, tolerance: 8.329e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.829e+14, tolerance: 8.446e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.747e+14, tolerance: 7.886e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.511e+14, tolerance: 8.698e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.090e+15, tolerance: 1.047e+13
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.024e+14, tolerance: 8.521e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.718e+13, tolerance: 8.329e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.041e+14, tolerance: 8.446e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.695e+13, tolerance: 7.886e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.049e+14, tolerance: 8.698e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.348e+15, tolerance: 8.521e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.064e+15, tolerance: 8.329e+12
  model = cd_fast.enet_coordinate_descent(
c:\Users\ptejas\Anaconda3\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:647: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.352e+15, tolerance: 8.446e+12
  model = cd_fast.enet_coordinate_descent(

In [ ]:
from sklearn.metrics import mean_absolute_error, r2_score

# Fit the models
linear_grid.fit(X_train, y_train)
lasso_grid.fit(X_train, y_train)
ridge_grid.fit(X_train, y_train)
elastic_net_grid.fit(X_train, y_train)

# Predictions
linear_train_pred = linear_grid.predict(X_train)
lasso_train_pred = lasso_grid.predict(X_train)
ridge_train_pred = ridge_grid.predict(X_train)
elastic_net_train_pred = elastic_net_grid.predict(X_train)

# Train evaluation
print("Train Evaluation Metrics:")
print("Linear Regression MAE:", mean_absolute_error(y_train, linear_train_pred))
print("Lasso Regression MAE:", mean_absolute_error(y_train, lasso_train_pred))
print("Ridge Regression MAE:", mean_absolute_error(y_train, ridge_train_pred))
print("Elastic Net Regression MAE:", mean_absolute_error(y_train, elastic_net_train_pred))

print("Linear Regression R2 Score:", r2_score(y_train, linear_train_pred))
print("Lasso Regression R2 Score:", r2_score(y_train, lasso_train_pred))
print("Ridge Regression R2 Score:", r2_score(y_train, ridge_train_pred))
print("Elastic Net Regression R2 Score:", r2_score(y_train, elastic_net_train_pred))

# Predictions
linear_test_pred = linear_grid.predict(X_test)
lasso_test_pred = lasso_grid.predict(X_test)
ridge_test_pred = ridge_grid.predict(X_test)
elastic_net_test_pred = elastic_net_grid.predict(X_test)

# Test evaluation
print("\nTest Evaluation Metrics:")
print("Linear Regression MAE:", mean_absolute_error(y_test, linear_test_pred))
print("Lasso Regression MAE:", mean_absolute_error(y_test, lasso_test_pred))
print("Ridge Regression MAE:", mean_absolute_error(y_test, ridge_test_pred))
print("Elastic Net Regression MAE:", mean_absolute_error(y_test, elastic_net_test_pred))

print("Linear Regression R2 Score:", r2_score(y_test, linear_test_pred))
print("Lasso Regression R2 Score:", r2_score(y_test, lasso_test_pred))
print("Ridge Regression R2 Score:", r2_score(y_test, ridge_test_pred))
print("Elastic Net Regression R2 Score:", r2_score(y_test, elastic_net_test_pred))

In [ ]:
check correlation, scatterplot,  pair plot, can we convert to linearity
if records less than 10/20, can we mark to others